* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

ul {
    list-style-type: none;
    background-color: gray;
    overflow: hidden;
    background-color: #333;
}

li {
    display: inline;
}

li a {
    display: block;
    color: white;
    padding: 13px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

form {
    max-width: 300px;
    margin: 10px auto;
    padding: 10px 20px;
    background: #f4f7f8;
    border-radius: 8px;
}

h1 {
    margin: 0 0 30px 0;
    text-align: center;
}

input {
    background: rgba(255, 255, 255, 0.1);
    border: none;
    font-size: 16px;
    height: auto;
    margin: 0;
    outline: 0;
    padding: 15px;
    width: 100%;
    background-color: #e8eeef;
    color: #8a97a0;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03) inset;
    margin-bottom: 30px;
}

.dugme {
    padding: 19px 39px 18px 39px;
    color: #FFF;
    background-color: #4bc970;
    font-size: 18px;
    text-align: center;
    font-style: normal;
    border-radius: 5px;
    width: 100%;
    border: 1px solid #3ac162;
    border-width: 1px 1px 3px;
    box-shadow: 0 -1px 0 rgba(255, 255, 255, 0.1) inset;
    margin-bottom: 10px;
}

.dok-button {
    padding: 5px;
    margin: 6px;
    color: #FFF;
    background-color: #4bc970;
    text-align: center;
    border-radius: 5px;
    border: 1px solid #3ac162;
    border-width: 1px 1px 3px;
    box-shadow: 0 -1px 0 rgba(255, 255, 255, 0.1) inset;
    text-decoration: none;
    display: inline-block;
}

.dok-div {
    padding: 6px;
    margin: 6px;
    background-color: #5ca171;
    width: fit-content;
    border-radius: 5px;
}

.dok-p {
    padding-bottom: 5px;
    padding-top: 5px;
}

label {
    display: block;
    margin-bottom: 8px;
}

.dugme:hover, .dok-button:hover {
    cursor: pointer;
    background-color: #17c54b;
}