p {
    font-size: 14px;
}

#header1 {
    background-color: #b34848;
}

h1, h2, h3, h4 {
    color: #b34848;
}

a {
    color: inherit;
}

a:hover {
    color: inherit;
}

#komentar {
    border: 2px solid #b34848;
    padding: 15px;
    border-radius: 15px;
    width: 30vw;
    margin-top: 10px;
}